<!doctype html>
<html ng-app="cursoModule">

<head>
    <title>JM Viagens - Cadastro</title>

    <!-- Angular -->
    <script src="js/angular.min.js"></script>

    <!-- jquery - link cdn -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- CSS -->
    <link href="estilo.css" rel="stylesheet">

    <!-- Javascript -->
    <script src="controller/cursos.js"></script>


    <meta charset="utf-8" />
    <meta name="viemport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="cursoController">

    <table border="0" width="900" align="center">

        <tr align="right">
            <td> <img src="imagens/logo.png" /> </td>
            <td align="right">
                <a href="index.html">Home</a> |
                <a href="quem-somos.html">Quem somos</a> |
                <a href="contato.html">Contato</a> |
                <a href="cadastro.html">Cadastro</a> |
                <a href="teste.html">Teste</a>
            </td>
        </tr>

    </table>


    <form>
        <div class="container">

            <h1 align="center">Teste Front-End & Back-End Cursos</h1>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="lista-tab" data-toggle="tab" href="#lista" role="tab"
                        aria-controls="lista-tab" aria-selected="true">Lista de Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab"
                        aria-controls="cadastro-tab" aria-selected="false">Cadastro de Cursos</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="lista" role="tabpanel">
                    <form>
                        <div class="container">
                            <label for="validationServer04">Pesquisar</label>
                            <input type="text" class="form-control is-invalid" id="validationServer04"
                                placeholder="Digite a pesquisa" required>
                        </div>
                    </form>
                    <form>
                        <div class="container" id="table">
                            <table class="table table-striped">
                                <th>Código</th>
                                <th>Nome do Curso</th>
                                <th>Dias e Horários</th>
                                <th>Professor</th>
                                <tr ng-repeat="cursosTabela in cursos | filter: pesquisaCurso"
                                    ng-click="selecionarCurso(cursosTabela)">
                                    <td>{{cursosTabela.codigo}}</td>
                                    <td>{{cursosTabela.curso}}</td>
                                    <td>{{cursosTabela.diasHorarios}}</td>
                                    <td>{{cursosTabela.professor.nome}}</td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade show active" id="cadastro" role="tabpanel">
                    <form>
                        <div class="container">
                            <div class="form-row" id="form">
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer01">Código</label>
                                    <input type="text" class="form-control is-valid" ng-model="registro.codigo"
                                        id="validationServer01" placeholder="Código" value="" required>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer02">Nome do Curso</label>
                                    <input type="text" class="form-control is-valid" ng-model="registro.curso"
                                        id="validationServer02" placeholder="Curso" value="" required>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationServerUsername">Dias e Horários</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend3"></span>
                                        </div>
                                        <input type="text" class="form-control is-invalid" ng-model="registro.diasHorarios"
                                            id="validationServerUsername" placeholder="Dias e Horários"
                                            aria-describedby="inputGroupPrepend3" required>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-row">
                                <div class="col-md-6 mb-3" id="city">
                                    <label for="validationServer03">Professor</label>
                                    <input type="text" class="form-control is-invalid" ng-model="registro.professor"
                                        id="validationServer03" placeholder="Professor" required>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form>
                        <br />
                        <div class="container" align="center">
                            <button class="btn btn-success" ng-click="salvarCadastro() " type="submit">Salvar</button>
                            <button class="btn btn-primary" ng-click="limparCampos()" type="submit">Limpar</button>
                            <button class="btn btn-danger" ng-click="excluirRegistro()" type="submit">Excluir</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>

        </div>
    </form>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>